* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #283b48;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

.container-form {
    display: flex;
    height: 200px;
    width: 100%;
    align-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.nickName {
    margin: 10px 0 10px 0;
    width: 150px;
}

.btn {
    padding: 5px 25px;
    border-radius: 5px;
    color: #283b48;
    cursor: pointer;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10%;
    font-size: 30px;
}

.li {
    width: 60px;
    height: 80px;
    background-color: #b0d4dc;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    border-radius: 7px;
    margin: 4px;
   
}

@media all and (min-width:768px) {
    .form {
        top: 15%;
    }

    .list {
        margin: 10%;
        font-size: 50px;
    }

    .li {
        width: 80px;
        height: 120px;
        padding-top: 30px;
    }
}